@import "../base/settings";

$row-width: rem-calc(1000) !default;

@mixin grid-row {
	width: 100%;
	margin-#{$default-float}: auto;
	margin-#{$opposite-direction}: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: $row-width;
	@include clearfix;
}

.row {
	@include grid-row;
}