<div class="bg" style="background-color:rgba(0,0,0,0.6);position:absolute;top:0;left:0;right:0;bottom:0;"></div>
<div class="dialog-wrapper" style="  position: absolute;top:25%;left:0;padding:10px;">
	<div class="dialog-inner" style="padding:10px;z-index:99;">
		<div class="dialog-header text-center" style="background-color:#25727f;color:white;padding:10px;border-top-radius:15px;">
			Select from Calendar
		</div>
		<div class="row collapse" style="background-color:white;border-bottom:1px solid #ccc;padding-top:10px;padding-bottom:10px;">
			<div class="small-24 columns">
				<div class="event" style="">
					<div class="row">
						<div class="small-6 columns" style="font-size:10px;color:#999;">
							<span style="">7:30 PM</span>
						</div>
						<div class="small-10 columns">
							<div class="row" style="font-size:12px;">
								<strong>Summer of Hacks</strong>
							</div>
							<div class="row" style="">
								<small>The Hub LA</small>
							</div>
						</div>
						<div class="small-2 columns">
							
						</div>
						<div class="small-7 columns">
							<span style="color:green">27</span> | <span style="color:#333;">56</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>