<div class="row">
	<div class="small-22 small-centered text-center columns" style="background-color:rgba(255,255,255,0.8);margin-top:5px;margin-bottom:5px;padding:15px;">
		Summer of Hacks
	</div>
</div>
<div class="row">
	<div class="small-22 small-centered text-center columns" style="background-color:rgba(255,255,255,0.8);margin-top:5px;margin-bottom:5px;padding:15px;">
		Location
	</div>
</div>
<div class="row">
	<div class="small-22 small-centered text-center columns" style="background-color:rgba(255,255,255,0.8);margin-top:5px;margin-bottom:5px;padding:15px;">
		The Hub LA
	</div>
</div>
<div data-participants class="row">
	<div class="small-22 small-centered columns" style="margin-top:5px;background-color:rgba(255,255,255,0.8)">
		<div class="row text-center" style="padding-top:10px;padding-bottom:10px;">
			Participant			
		</div>
		<div class="row text-center">
			<div class="small-12 columns" style="border-right:2px solid #999;color:#25727f;font-size:2.4em;">
				27
			</div>
			<div class="small-12 columns" style="color:#606060;font-size:2.4em;">
				27
			</div>
		</div>
		<div class="row text-center" style="padding-bottom:20px;">
			<div class="small-12 columns" style="color:#25727f;">
				met
			</div>
			<div class="small-12 columns" style="color:#606060;">
				total
			</div>
		</div>
	</div>
</div>