<div class="row">
	<div class="small-24 columns">
		<a href="" class="button expand">Event</a>
	</div>
</div>
<div class="row">
	<div class="small-24 columns">
		<a href="" class="button expand">Time</a>
	</div>
</div>
<div class="row">
	<div class="small-24 columns">
		<a href="" class="button expand">Location</a>
	</div>
</div>
<div data-participants class="row">
	<div class="small-24 columns">
		<div class="row text-center">
			Participant			
		</div>
		<div class="row">

		</div>
		<div class="row text-center">
			<div class="small-12 columns">
				0
			</div>
			<div class="small-12 columns">
				0
			</div>
		</div>
		<div class="row text-center">
			<div class="small-12 columns">
				met
			</div>
			<div class="small-12 columns">
				total
			</div>
		</div>
	</div>
</div>