<div class="row">
	<div class="small-12 small-centered columns">
		<div class="circle-wrapper" style="border-radius:50%;width:100%;border:5px solid #ffffff;overflow:hidden">
			<img src="<%= photo %>">		
		</div>
	</div>
</div>
<div class="row text-center" style="margin-top:10px;color:#ffffff;">
	<div class="small-24 columns">
		<strong><%= firstName %> <%= lastName %></strong>
	</div>
</div>
<div class="row text-center" style="margin-top:5px;font-size:12px;color:#ffffff;">
	<div class="small-24 columns">
		<%= title %> • <%= industry %>	
	</div>
</div>