<div class="top-bar" data-topbar style="background-color:#1c8a9d">
  <div class="row">
    <div class="small-4 columns"> <a href="#events"><img src="images/back.png" /></a> </div>
  
    <div class="small-16 columns" style="text-align:center">
      <a href="#" style="padding: 4px 8px; font-size: 0.8em; color: white; background-color:#25727f;">SIMILARITY</a>
      <a href="#" style="padding: 4px 8px; font-size: 0.8em; color: white;">NAME</a>
    </div>

    <div class="small-4 columns"> <img src="/images/add.png" /> </div>
  </div>
</div>
<div id="users-region"></div>
