<div class="row">
	<div class="small-12 small-centered columns">
		<img src="<%= photo %>">		
	</div>
</div>
<div class="row text-center">
	<div class="small-12 columns">
		<div class="" style="border-bottom:1px solid #ccc;">
			<%= firstName %>	
		</div>
	</div>
	<div class="small-12 columns">
		<div class="" style="border-bottom:1px solid #ccc;">
			<%= lastName %>
		</div>
	</div>
</div>
<div class="row text-center">
	<div class="small-24 columns">
		<div class="" style="border-bottom:1px solid #ccc">
			<%= title %>
		</div>
	</div>
</div>
<div class="row text-center">
	<div class="small-24 columns">
		<div class="" style="border-bottom:1px solid #ccc">
			<%= company %>
		</div>
	</div>
</div>
<div class="row" style="margin-top:20px;">
	<div class="small-24 columns">
		<textarea>
			<%= comment %>
		</textarea>
	</div>
</div>
