<div class="row" style="margin-top:20px;">
	<div class="small-12 small-centered columns">
		<div class="circle-wrapper" style="border-radius:50%;width:100%;border:5px solid #ffffff;overflow:hidden">
			<img src="<%= photo %>">		
		</div>
	</div>
</div>
<div class="row">
	<div class="small-22 small-centered columns" style="margin-top:20px;">
		<div class="row">
			<div class="small-12 columns">
				<label>First Name
					<input type="text" value="<%= firstName %>">
				</label>
			</div>
			<div class="small-12 columns">
				<label>Last Name
					<input type="text" value="<%= lastName %>">					
				</label>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-22 small-centered columns">
		<label>Title
			<input type="text" value="<%= title %>">
		</label>
	</div>
</div>
<div class="row text-center">
	<div class="small-22 small-centered columns">
		<label>Company
			<input type="text" value="<%= company %>">
		</label>
	</div>
</div>
<div class="row">
	<div class="small-22 small-centered columns">
		<label>Comments
			<textarea><%= comment %></textarea>
		</label>
	</div>
</div>
